In [1]:
import pandas as pd

In [25]:
df = pd.read_csv("machine-readable-business-employment-data-sep-2024-quarter.csv",header=0,
                 names=["Series_reference","Period","Data_value","Suppressed(Y/N)","STATUS","Type of Units",
                        "Magnitude","Subject","Group","Type of job","Type of business","Actual(Y/N)","Series_4","Series_5"],index_col="Series_reference")

In [27]:
df

,Series_reference,Period,Data_value,Suppressed(Y/N),STATUS,Type of Units,Magnitude,Subject,Group,Type of job,Type of business,Actual(Y/N),Series_4,Series_5
0,BDCQ.SEA1AA,2011.06,80078.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
1,BDCQ.SEA1AA,2011.09,78324.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
2,BDCQ.SEA1AA,2011.12,85850.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
3,BDCQ.SEA1AA,2012.03,90743.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
4,BDCQ.SEA1AA,2012.06,81780.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23732,BDCQ.SEE3999A,2017.06,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
23733,BDCQ.SEE3999A,2017.09,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
23734,BDCQ.SEE3999A,2017.12,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
23735,BDCQ.SEE3999A,2018.03,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
23736,BDCQ.SEE3999A,2018.06,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN